body {
    list-style-position: inside;
    background-image: linear-gradient(120deg,#6593f6,#d88771);
    font-family: 'Poppy', sans-serif;
    overflow-x: hidden;
    text-align: center;
    align-items: center;
   
}

@media only screen and (max-width: 612px) {
    body {
      margin-right: 50px;
    }
  }

h1 {
font-size: 2rem;
}

.link {
font-size: 1rem;
text-decoration: underline; 
font-weight: normal;
cursor: pointer;
color: #000000;
text-align: center;
}

.link:hover {
    font-size: 1rem;
    text-decoration: underline; 
    font-weight: bold;
    cursor: pointer; 
    color: #000000;
}